<?php

$rules = [
    '@Symfony' => true,
    '@Symfony:risky' => true,
    'array_syntax' => [
        'syntax' => 'short',
    ],
    'combine_consecutive_issets' => true,
    'combine_consecutive_unsets' => true,
    'no_extra_consecutive_blank_lines' => true,
    'no_php4_constructor' => true,
    'no_useless_else' => true,
    'no_useless_return' => true,
    'ordered_class_elements' => true,
    'ordered_imports' => true,
    'phpdoc_order' => true,
    '@PHP56Migration' => true,
    '@PHP56Migration:risky' => true,
    '@PHPUnit57Migration:risky' => true,
    '@PHP70Migration' => true,
    //'@PHP70Migration:risky' => true,
    '@PHPUnit60Migration:risky' => true,
    //'@PHP71Migration' => true,
    //'@PHP71Migration:risky' => true,
    'compact_nullable_typehint' => true,
];


$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('config')
    ->exclude('vendor')
    ->exclude('public/bundles')
    ->exclude('storage')
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setRules($rules)
    ->setUsingCache(false)
;
