version: '3.2'

services:
    nginx:
        build:
          context: ./docker/nginx/
        ports:
          - "80:80"
        networks:
          - nw_internal
        depends_on:
          - php
        volumes:
          - ./public:/srv/public
          - ./storage/upload:/srv/storage/upload

    php:
        build:
            context: "."
            dockerfile: Dockerfile-dev
        networks:
          - nw_internal
        env_file: .env
        depends_on:
          - mysql
        volumes:
          - .:/srv
          - /composer/home

    mysql:
        ports:
            - "3306:3306"
        networks:
          - nw_internal

volumes:
    assets:

networks:
    nw_internal:
