version: '3.4'

services:
    nginx:
        build:
            context: ./docker/nginx/
            target: base
        ports:
            - "80:80"
        depends_on:
            - php
        volumes:
            - ./public:/srv/public
            - ./storage/upload:/srv/storage/upload

    php:
        build:
            context: "."
            dockerfile: Dockerfile
            target: dev
        env_file: .env
        depends_on:
            - mysql
        volumes:
            - .:/srv
            - /srv/var
