{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="panel panel-info">
    <div class="panel-body">
        {% include "@FOSUser/Profile/show_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
