<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}">
{% block head_wrapper %}<head>{% block head %}
    {% block head_core %}
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1.0{% endblock %}"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
    {% endblock %}

    {% block stylesheets_wrapper %}
        {% block stylesheets %}
            {% block stylesheets_core %}
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}</head>{% endblock %}

{% block body_wrapper %}<body>{% block body %}
    {% block body_core %}{% endblock %}

    {% block javascripts_wrapper %}
        {% block javascripts %}
            {% block javascripts_core %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}</body>{% endblock %}
</html>
